@model FIT5120Project.Models.Message

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.writeUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.writeUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.readUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.readUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.messageText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messageText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.writerEmotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.writerEmotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.readerEmotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.readerEmotion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
